.header
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 2rem

  &_right
    display: flex

    a
      margin: 0 0.5rem
      height: 20px
      cursor: pointer

      &:last-child
        margin-right: 0



.logo
  cursor: pointer
