.ul  
  columns: 4
  gap: 0
  line-height: 0 

  img 
    width: 100%
    height: auto

@media (max-width: 1000px)
  .ul
    columns: 3

@media (max-width: 800px)
  .ul
    columns: 2

@media (max-width: 400px)
  .ul
    columns: 1
